html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(240,242,245);
    font-size: .9rem !important;
    font-weight: 350 !important;
    margin-bottom: 2rem;
}

.navbar { 
    background-color: rgba(39,87,44);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.nav-link {
    margin-right: 2.5rem;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: auto 3.5rem auto 2rem;
}

.heading {
    padding: 1rem 0 0 1rem;
    margin: 0% 5rem 0 0;
    width: 60rem;
}

section {
    display: grid;
    place-items: center;
    width: 100%;
}

.card {
    margin-top: 3rem;
    width: 60rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 7px;
}

.card-header {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    padding: 1.5vh 1vw;
    position: relative;
    top: -15px;
    left: 1%;
    border-style: unset;
    max-width: 29rem;
    text-align: center;
    background-color: rgba(39,87,44);
    color: white;
    border-radius: 5px !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card-body {
    position: relative;
    top: -15px;
}

nav .dropdown-menu {
    background-color: rgba(39,87,44);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border: unset;
    overflow: hidden;
    border-radius: 5px;
}
nav .dropdown-item {
    font-size: .9rem;
    color: rgb(197, 212, 199);
    transition: all .2s;
    height: 2.5rem;
}

nav .dropdown-item:hover::after {
    content: "";
    right: -5px;
    width: 5px;
    height: 2.47rem;
    top: -2px;
    position: fixed;
    background: var(--yellow);
    border-radius: 1px;
}

nav .dropdown-item:hover {
   transform: translateX(-5px);
   background-color: unset !important;
   color: var(--yellow);
}

nav .dropdown-item i{
    text-align: right;
    font-size: 14px;
    width: 14px;
    margin: auto 0 auto auto;
}

#settings {
    position: fixed;
    font-size: .85rem;
    right: 0;
    top: .6rem;
    text-decoration: unset;
}
#settings i {
    margin: .325rem 0rem .3rem .3rem;
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    font-style: normal;
    font-weight: 600;
}
#settings .fa-caret-down {
    margin: .4rem -.7rem 0 -.7rem;
    font-size: 20px;
}
#settings img {
    margin: 2.5px 0px 2.5px 2.5px;
}

.nav-link:hover {
    color: white !important;
}

#settings-dropdown-menu {
    text-align: right;
    position: absolute;
    top: 2.8rem;
}

section input, section button, section select, #pending-interpretation-view-container button, #pending-interpretation-view-container input, #pending-interpretation-view-container select, #pending-interpretation-view-container textarea{
    font-size: .9rem !important;
}

.form-row button {
    width: 5rem;
}

.badge {
    width: 4rem;
    height: 1.1rem;
    padding-top: .2rem;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

#edit-profile i{
    font-size: 28px;
    color: rgba(255, 255, 255, 0.712);
    position: relative;
    top: 10.5rem;
}
#profile-picture {
    margin-top: -2rem;
}
.modal {
    padding-top: 6rem;
}
.modal-content {
    border-style: unset !important;
    border: unset !important;
    border-radius: 7px !important;
}
.input-type-multiple-select {
    height: 35.6px;
}
.input-type-multiple-select .form-control {
    height: 1.2rem;
    border: unset;
    border-radius: unset;
    padding: 0 0 0 .1rem;
}

.step1::after {
    position: absolute;
    content: "";
    margin-top: 1.1rem;
    margin-left: .6rem;
    height: .25rem;
    width: 4.45rem;
    background-color: var(--secondary);
    transition: all .5s;
}

.step1-active::after {
    position: absolute;
    content: "";
    margin-top: 1.1rem;
    margin-left: .6rem;
    height: .25rem;
    width: 4.45rem;
    background-color: var(--primary);
    transition: all .5s;
}

.step2::before {
    position: absolute;
    content: "";
    margin-top: 1.1rem;
    margin-left: -5.1rem;
    height: .25rem;
    width: 4.45rem;
    background-color: var(--secondary);
    transition: all .5s;
}

.step2-active::before {
    position: absolute;
    content: "";
    margin-top: 1.1rem;
    margin-left: -5.1rem;
    height: .25rem;
    width: 4.45rem;
    background-color: var(--primary);
    transition: all .5s;
}

.steps {
    font-size: 26px;
    height:40px; 
    width:40px;
    border-radius:999px;
    padding-top:0rem;
    padding-left:.675rem;
    background-color: var(--secondary);
    color: white;
    font-weight: bold;
    transition: all .5s;
}
.step1, .step1-active, .step2-active {
    background-color: var(--primary);
}

.ajax-loader::before {
    position: absolute;
    content: " ";
    height: 1.5rem;
    width: 1.5rem;
    background-image: url('images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem;
    top: 49%;
    left: 48%;
    z-index: 999;
    opacity: 100%;
}

.close-modal {
    background: transparent;
    border: none;
    position: absolute;
    top: -4rem;
    margin-left: auto;
    margin-right: auto;
}

.close-modal > * {
    font-family: 'Roboto', sans-serif;
    opacity: 50%;
    color: white;
    font-size: 1.2rem !important;
}

.pending-interpretation-view-container-item img{
    height: 100%;
}


#pending-interpretation-view-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: black;
}

.pending-interpretation-view-container-item{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.pending-interpretation-image{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: black;
}

.pending-interpretation-comment {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
    color: black;
    overflow: auto;
    padding-top: .25rem;
}

#pending-interpretation-view-close {
    font-size: 1.75rem;
    z-index: 99999;
    top: 0;
    left: .45rem;
    position:fixed;
}

.pending-interpretation-comment .table{
    margin-bottom:-1rem
}

.pending-interpretation-comment tr{
    margin: 0 -.75rem 0 -.75rem;
}

@media (max-width:1200px){
    .pending-interpretation-view-container-item img{
        height: auto;
        width: 100%;
    }
}

@media (max-width:1024px){
    .heading {
        width: 100%;
        margin-right: 0;
        padding-left: 1rem;
    }
    .card {
        margin: 3rem 1rem 0 1rem;
        width: 98%;
    }
    section {
        width: 100%;   
    }
}

@media (max-width:992px){
    #pending-interpretation-view-close {
        font-size: 1.5rem;
    }
    .pending-interpretation-view-container-item{
        overflow: auto;
    }
    .pending-interpretation-image{
        height: auto;
        width: auto;
        position: relative;
    }
    .pending-interpretation-comment {
        position: relative;
        height: auto;
        width: 100%;
    }
}

@media (max-width:768px){
    .card {
        margin: 3rem 0 0 0;
        width: 100%;
    }
    .navbar-brand {
        margin: auto auto auto 1rem;
    }
    .heading {
        font-size: 1.6rem;
        padding-left: 2.25%;
    }
    section {
        width: 100%;
        margin: auto;
    }
    section .card-header {
        left: 2%;
        max-width: 96%;
        text-align: center;
    }
    nav .dropdown-menu {
        background-color: unset;
        background-image: unset;
        box-shadow: unset;
    }
    #settings-dropdown-menu {
        background-color: rgba(39,87,44);
    }
    .nav-link {
        margin: .5rem auto auto .5rem;
    }
    .nav-item {
        margin: auto auto auto 0;
    }
    #user-list-body .badge {
        margin: auto auto .25rem auto !important;
    }
    section  {
        font-size: .85rem !important;
    }
    section input, section button, section select, section .dropdown-menu, section span{
        font-size: .85rem !important;
    }
    #settings {
        font-size: .8rem;
    }
    #settings i {
        margin: .375rem 0rem .3rem .3rem;
    }
}

.montserrat-10 {
    font-family: 'Montserrat';
    font-size: 10.5pt;
    font-weight: bold;
}
.roboto-8 {
    font-family: "Roboto";
    font-size: 9.5pt;
}
.roboto-7 {
    font-family: "Roboto";
    font-size: 9.5pt;
}
.roboto-6 {
    font-family: "Roboto";
    font-size: 7.5pt;
}
.calibri-6 {
    font-family: "Calibri";
    font-size: 7.5pt;
    background-color: rgba(128, 128, 128, 0.65) !important;
}
.page-header{
    padding-left: .5cm;
}
.page-header::after {
    content: "\a0";
    display: block;
    padding: 2px 0;
    margin-top: 1.8rem;
    margin-left: 4%;
    width: 97.5%;
    line-height: 1px;
    border-top: 1px solid green; 
}
.footer-table{
    border-top: 1px solid green;
}
.page-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    padding: 1.5rem 5rem 0 5rem;
    height: 274mm;
}
.page-sig {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.5pt;
    width: 100%;
    padding: 1rem 3.5rem .55rem 5rem;
}
.page-footer{
    width: 100%;
    padding-bottom: 3mm;
}
.page-body-title {
    font-size: 14.5pt;
    font-weight: bold;
    text-align: center;
}
.page {
    width: 210mm;
    height: 297mm;
    margin: 10mm auto;
    background: white;
}
.sub-page {
    height: 297mm;
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}